*{
    margin: 0;
    padding: 0;
}
#header{
    height: 100vh;
    /*background: linear-gradient(rgb(16, 18, 10) , rgb(45, 8, 8));*/
    background-image: url(./Other/black_background_red_color_paint_explosion_burst-773091.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
}
ul{
    display: flex;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    text-decoration: none;
}
html,
body{
    scroll-behavior: smooth;
    width: 100%;
    overflow-x:hidden;
}
li{
    list-style: none;
    padding: 8px 12px;
    font-size: 20px;
}
li a{
    color: rgb(248, 248, 248);
    font-family: 'Alkatra', cursive;
    text-decoration: none;
}
ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}
ul li:hover::after{
    width: 100%;
}
.te:hover{
    transition: 0.5s;
    color: red;
}
.username{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    color: white;
    margin-top: 50px;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
}
.user{
    color: wheat;
    font-family: 'Sriracha', cursive;
}
.welcome-grp-1{
    margin-top: 40px;
}
.wel{
    color: white;
    position: absolute;
    left: 50%;
    transform: translate(-90%);
    margin-top: 150px;
}
.welcome{
    font-size: 30px;
    font-family: 'Comfortaa', cursive;
}
.tuni{
    position: absolute;
    margin-left: 120px;
    margin-top: 10px;
    font-size: 20px;
    font-family: 'Comfortaa', cursive;  
}
.blast{
    color: red;
}
.logo{
    height: 430px;
    position: absolute;
    left: 60%;
    transform: translate(50%);
    margin-top: -140px;
}

.learn-more{
    width: 350px;
    height: 40px;
    background: rgb(39, 40, 37);
    border: 1px solid red;
    color: red;
    border-radius: 17px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    margin-top: 60px;
    cursor: pointer;
    font-size: 15px;
}
.learn-more:hover{
    background: transparent;
    color: white;
    border: 1px solid white;
    transition: 0.7s;
}
#arrow1{
    margin-left: 5px;
}
.learn-more:hover i {
    color: white;
    transition: 0.7s;
    transform: rotate(90deg);
}
.welcome-desc{
    position: absolute;
    left: 50%;
    transform: translate(-70%);
    font-size: 20px;
    font-family: 'Comfortaa', cursive;
}

#tools{
    height: 100vh;
    background-image: url(./Other/bg1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    position: absolute;
}
.tools-title{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    font-family: 'Bebas Neue', sans-serif;
    font-size: 40px;
    margin-top: 30px;
    color: white;
}
.all-tools{
    position: relative;
    margin-top: 150px;
}
.tool-title{
    /*font-family: 'Teko', sans-serif;*/
    font-family: 'Mogra', cursive;
    font-size: 30px;
    color: #f44336;
}
.desc{
    margin-top: 5px;
    font-family: 'Pangolin', cursive;
    color: white;
}
.ver{
    font-size: 15px;
    font-family: 'Pangolin', cursive;
    color: white;
}
.para{
    margin-top: 10px;
    font-family: 'Comfortaa', cursive;
    color: white;
}
#price{
    font-family: 'Pangolin', cursive;
}
.price1{
    margin-top: 25px;
    color: white;
}
.price2{
    margin-top: 60px;
    color: white;
}
.price3{
    margin-top: 93px;
    color: white;
}
.russo-tools-grp1{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.tool1{
    margin: 0px 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 5.2);
}
.tool2{
    margin: 0px 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 5.2);
}
.tool3{
    margin: 0px 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 5.2);
}
.russo-tools-grp2{
    display: flex;
    justify-content: space-between;
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    margin-top: 380px;
}
.tool4{
    margin: 0px 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 5.2);
}
.tool5{
    margin: 0px 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 5.2);
}
.tool6{
    margin: 0px 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 5.2);
}
#tool{
    border: 1px solid rgb(255, 134, 5);
    border-radius: 15px;
    height: 350px;
    width: 250px;
}

/*#social-media{
    height: 15vh;
    width: 100%;
    background-color: #10112d;
    position: relative;
}
.medias{
    display: flex;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}
.social{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 40px;
}
.media1{
    width: 50px;
    height: 50px;
    border: 1px solid black;
    border-radius: 50px;
    margin-top: 50px;
    position: relative;
}
.discord{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% ,-50%);
    font-size: 15px;
}*/

/* Width */
/*@media screen and (min-width: 1300px) {
    #tools{
        height: 100vh;
        width: 100%;
    }
    .tools-title{
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        font-family: 'Bebas Neue', sans-serif;
        font-size: 40px;
    }
    .all-tools{
        margin-top: 140px;
    }
    .tool-title{
        font-family: 'Teko', sans-serif;
        font-size: 30px;
        color: #f44336;
    }
    .russo-tools-grp1{
        position: absolute;
        left: 50%;
        transform: translate(23%);
        justify-content: center;
        align-items: center;
        display: flex;
        justify-content: space-between;
        text-align: center;
    }
    .tool1{
        margin: 0px 30px;
    }
    .tool2{
        margin: 0px 30px;
    }
    .tool3{
        margin: 0px 30px;
    }
    .russo-tools-grp2{
        display: flex;
        justify-content: space-between;
        text-align: center;
        position: absolute;
        left: 50%;
        transform: translate(154%);
        justify-content: center;
        align-items: center;
        margin-top: 360px;
    }
    .tool4{
        margin: 0px 30px;
    }
    .tool5{
        margin: 0px 30px;
    }
    .tool6{
        margin: 0px 30px;
    }
    #tool{
        border: 1px solid rgb(44, 9, 9);
        border-radius: 15px;
        height: 300px;
        width: 250px;
    }
}*/
/*@media (min-width: 901px) and (max-width: 1100px) {
    body {
        overflow-x: hidden;
    }
    .all-tools{
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        display: block;
    }
    .russo-tools-grp1{
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        display: block;
    }
    .russo-tools-grp2{
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        display: block;
        margin-top: 690px;
    }
    #tools{
        height: 150vh;
    }
    #tool{
        width: 500px;
        height: 200px;
    }
    .tool1{
        margin: 30px 0px;
    }
    .tool2{
        margin: 30px 0px;
    }
    .tool3{
        margin: 30px 0px;
    }
    .tool4{
        margin: 40px 0px;
    }
    .tool5{
        padding: 20px;
    }
}*/
@media (min-width: 701px) and (max-width: 900px) {
    .welcome{
        margin-left: 50px;
    }
    .logo{
        height: 250px;
        margin-left: 100px;
        margin-top: -110px;
    }
    .tuni{
        margin-left: 60px;
    }
    .all-tools{
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        display: block;
    }
    .tools-title{
        margin-top: 50px;
    }
    .russo-tools-grp1{
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        display: block;
    }
    .russo-tools-grp2{
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        display: block;
        margin-top: 980px;
    }
    #tools{
        height: 150vh;
    }
    #tool{
        width: 300px;
    }
    .tool1{
        margin: 30px 0px;
    }
    .tool2{
        margin: 30px 0px;
    }
    .tool3{
        margin: 30px 0px;
    }
    .tool4{
        margin: 40px 0px;
    }
    .tool5{
        padding: 20px;
    }
}
@media (max-width: 768px) {
    /* CSS rules for smaller screens */
    body{
        overflow-x: hidden;
        max-width: 100%;
    }
}
@media (min-width: 580px) and (max-width: 700px) {
    nav{
        display: none;
    }
    .wel{
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        display: block;
    }
    .username{
        position: absolute;
        left: 50%;
        transform: translate(-52%);
        margin-top: 30px;
        width: 200px;
    }
    .welcome{
        position: absolute;
        left: 50%;
        transform: translate(-45%);
        margin-top: -60px;
        wIdth: 500px;
        font-size: 35px;
    }
    .st{
        position: absolute;
        left: 50%;
        transform: translate(-64%);
        margin-top: 20px;
        width: 350px;
    }
    .tuni{
        width: 300px;
        font-size: 25px;
    }
    .learn-more{
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        margin-top: 100px;
        width: 300px;
        height: 40px;
    }
    .logo{
        height: 290px;
        margin-top: 150px;
        position: absolute;
        left: 50%;
        transform: translate(-50%);
    }
    .tools-title{
        margin-top: 50px;
    }
    .all-tools{
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        display: block;
    }
    .russo-tools-grp1{
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        display: block;
    }
    .russo-tools-grp2{
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        display: block;
        margin-top: 980px;
    }
    #tools{
        height: 150vh;
    }
    #tool{
        width: 300px;
    }
    .tool1{
        margin: 30px 0px;
    }
    .tool2{
        margin: 30px 0px;
    }
    .tool3{
        margin: 30px 0px;
    }
    .tool4{
        margin: 40px 0px;
    }
    .tool5{
        padding: 20px;
    }
}
@media (min-width: 401px) and (max-width: 579px) {
    nav{
        display: none;
    }
    .wel{
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        display: block;
    }
    .username{
        position: absolute;
        left: 50%;
        transform: translate(-52%);
        margin-top: 30px;
        width: 200px;
    }
    .welcome{
        position: absolute;
        left: 50%;
        transform: translate(-42%);
        margin-top: -60px;
        wIdth: 300px;
        font-size: 35px;
    }
    .st{
        position: absolute;
        left: 50%;
        transform: translate(-64%);
        margin-top: 20px;
        width: 350px;
    }
    .tuni{
        width: 300px;
        font-size: 25px;
    }
    .learn-more{
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        margin-top: 100px;
        width: 300px;
        height: 40px;
    }
    .logo{
        height: 290px;
        margin-top: 150px;
        position: absolute;
        left: 50%;
        transform: translate(-50%);
    }
    .all-tools{
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        display: block;
    }
    .tools-title{
        margin-top: 50px;
    }
    .russo-tools-grp1{
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        display: block;
    }
    .russo-tools-grp2{
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        display: block;
        margin-top: 980px;
    }
    #tools{
        height: 150vh;
    }
    .tool1{
        margin: 30px 0px;
    }
    .tool2{
        margin: 30px 0px;
    }
    .tool3{
        margin: 30px 0px;
    }
    .tool4{
        margin: 40px 0px;
    }
    .tool5{
        padding: 20px;
    }
}
@media screen and (max-width: 400px){
    nav{
        display: none;
    }
    .welcome-desc{
        display: none;
    }
    .wel{
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        display: block;
    }
    .username{
        position: absolute;
        left: 50%;
        transform: translate(-52%);
        margin-top: 30px;
        width: 200px;
    }
    .welcome{
        position: absolute;
        left: 50%;
        transform: translate(-44%);
        margin-top: -60px;
        wIdth: 250px;
    }
    .st{
        position: absolute;
        left: 50%;
        transform: translate(-58%);
        margin-top: 20px;
        width: 350px;
    }
    .learn-more{
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        margin-top: 100px;
        width: 200px;
    }
    .logo{
        height: 290px;
        margin-top: 150px;
        position: absolute;
        left: 50%;
        transform: translate(-50%);
    }
    .all-tools{
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        display: block;
    }
    .russo-tools-grp1{
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        display: block;
    }
    .russo-tools-grp2{
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        display: block;
        margin-top: 1150px;
    }
    .tools-title{
        margin-top: 30px;
    }
    #tools{
        height: 150vh;
    }
    .tool1{
        margin: 30px 0px;
    }
    .tool2{
        margin: 30px 0px;
    }
    .tool3{
        margin: 30px 0px;
    }
    .tool4{
        margin: 40px 0px;
    }
    .tool5{
        padding: 20px;
    }
}

/* Height */
@media (min-height: 1281px) and (max-height: 1600px) {
    .wel{
        margin-top: 300px;
    }
}

@media (min-height: 300px) and (max-height: 500px) {
    #tools{
        height: 210vh;
    }
}

@media (min-height: 501px) and (max-height: 700px) {
    #tools{
        height: 210vh;
    }
}

@media (min-height: 701px) and (max-height: 900px) {
    #tools{
        height: 180vh;
    }
}

/*@media (min-height: 1024px) and (min-width: 1100px) {
    .desc{
        font-size: 25px;
    }
    .samp{
        height: 150px;
    }
    .logo{
        height: 300px;
    }
    #end{
        margin-top: -200px;
    }
}*/
@media (min-width: 800px) and (max-width: 1000px) and (min-height: 740px) and (max-height: 100px) {
    .logo{
        height: 350px;
        margin-top: -100px;
        margin-left: 100px;
    }
}